$primary-color: #3498db;
$secondary-color: #3498db;
$background-color: #f4f4f4;
$text-color: #333;
$font-family:'Arial', sans-serif;
$border-radius: 8px;
$transition-duration: .3s;
$box-shadow: 0 4px 6px rgba(0,0,0, .1);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.6;
}

.header{
    background-color: $primary-color;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.header__title{
    margin-bottom: .5rem;
    font-size: 2rem;
}
.nav__list{
    list-style: none;
}
.nav__item{
    display: inline;
    margin-right: 1rem;
}

.nav__link{
    color: #fff;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.main{
    padding: 2rem;
    &__content{
        max-width: 1200px;
        margin: 0 auto;

        .content__title{
            margin-bottom: 1rem;
            color: $secondary-color;
            font-size: 1.8rem;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 2px solid $primary-color;
            padding: .5rem;
        }

        .actresses{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250,1fr));
            gap: 2rem;
            padding-top: 2rem;

            &__item{
                background-color: #fff;
                padding: 1.5rem;
                border-radius: $border-radius;
                text-align: center;
                box-shadow: $box-shadow;
                transition: transform $transition-duration ease, $box-shadow $transition-duration ease;

                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 0 6px 12px rgba(0,0,0, .15);
                }

                &__name{
                    margin-top: .8rem;
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: $primary-color;
                }

                &__image{
                    width: 100%;
                    height: auto;
                    border-radius: $border-radius;
                }
            }
        }
    }
}

.footer{
    text-align: center;
    padding: 1rem;
    background-color: $primary-color;
    color: #fff;
}

.footer__text{
    font-size: .9rem;
}